<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Consultora Gestion&Tendencias</title>
	<link rel="stylesheet" href="../css/inicio.css">

	<link rel="shortcut icon" href="../img/favicongyt.png">
</head>
<body>
	<div class="contactoFlex contenedorGridc">
	<!-- inicio header -->
	<header class="navFlex navGridc navModel">
		<!-- inicio nav -->
		
			<a href="../index.html">
				<img src="../img/logonavgytwithbck.png" alt="Logo index de consultora gestion y tendencias" class="imgLogo">
			</a>			
		
		<nav class="textBold">	
			<ul>
				<li>
					<a href="../index.html">Inicio</a>
				</li>
				<li>
					<a href="Servicios.html">Servicios</a>
				</li>
				<li><a href="Contacto1.html">Contacto</a>	
				</li>
				<li>
					<a href="Faq1.html">FAQ</a>
				</li>
				<li>
					<a href="Noticias.html">Noticias</a>
				</li>
			</ul>
		</nav>
		<!-- fin nav-->
	</header>
	<!-- fin header -->
	<!-- imagen consulta -->
	<div class="imgGridc imgFlex">
		<img src="../img/imgconsulta.png" alt="Consultoria gestion y tendencia contacto de consultora que ofrece servicios de marketing, estudio de mercado y asistencia financiera" class="imgModel">
	</div>
	<!-- fin imagen consulta -->

	<!-- inicio de seccion -->
	<section class="contactoFlex contactoGridc mainModel">
		<div> 
			<!-- inicio de titulo principal -->
			<h1 class="textBold ">
				Contacto
			</h1>
			<!-- fin de titulo principal -->
			<!-- inicio titulo secundario -->
			<h2 class="textBold ">
				Comuniquese con Nosotros
			</h2>
		</div>
	</section>

			<!-- fin de titulo secundario -->

			<!-- contenido de parrafo -->
	<section class="formularioFlex  formGridc mainModel">	
		<div class="h3Flex ">
			<h3 class="textRegular">
				Por favor complete el siguiente formulario o escríbanos un mail a lorem@ipsum.com y le responderemos a la brevedad.
				<p class="textRegular ">
					Direccion: 3 de Febrero 1977 (3300) Posadas, Misiones.
					Horario: Lunes a Viernes 8am - 12am / 16pm - 20pm
					Telefono: 3786-547858
				</p>			
			</h3>
		</div>
		<div class="formConsulta1 formGridc">
			<form action="consulta.php" class="textRegular ">
				<h4 class="">Formulario de Consulta</h4>
				<label for="nombre y apellido">Nombre y Apellido:</label>
				<input type="text" id="nombre y apellido" placeholder="Nombre y Apellido" class="formDetails">
				<label for="numero de telefono">Número de Telefono:</label>
				<input type="tel" id="numero de telefono" placeholder="(Código de área) Número" class="formDetails">
				<label for="email">Email:</label>
				<input type="email" id="email" placeholder="hola@consulta.com" class="formDetails">
				<label for="consulta">Consulta:</label>
				<input type="text" id="consulta" placeholder="Su consulta" class="formDetails">
				<input type="submit" value="Enviar consulta" class="boton">
				</form>	
		</div>
		</section>
		<div class="iframeFlex iframeGridc">
			<p>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3543.2151210445204!2d-55.8926614844184!3d-27.36899631898104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9457bfcaba4dab19%3A0x7b0673b4aad16255!2s3%20de%20Febrero%201977%2C%20N3300EEE%20Posadas%2C%20Misiones!5e0!3m2!1ses-419!2sar!4v1653686829005!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</p>	
		</div>
			<!-- fin de contenido de parrafo -->	
		
	<!-- inicio de footer -->
	<footer class="pieFlex footerModel footerGridc">
		<div>
			<h4 class="textBold">
				<p>Copyrights © - Todos los derechos reservados</p><p>Gestion y Tendencias 2022</p>
			</h4>
		</div>		
		
		<div>
			<p class="textRegular">
				<a href="https://www.instagram.com/nikesportswear/" target="_BLANK">
					<img src="../img/instagram.ico" alt="red social de instagram de consultora gestion y tendencias"></a>
				<a href="https://www.facebook.com/ATPTour/" target="_BLANK">
					<img src="../img/fb.ico" alt="red social de facebook de consultora gestion y tendencias"></a>
			</p>


				<a href="../index.html">Inicio</a>
		</div>	
		<div>
			<p class="textLight">
				<span class="textBold">Mas información</span>
			</p>
			<p class="textLight">
				<span class="textBold">Email:</span> Lorem@inpum.dolor
			</p>
			<p class="textLight">
				<span class="textBold">Horario:</span> Lunes a Viernes 8am - 12am / 16pm - 20pm
			</p>
			<p class="textLight">	
				<span class="textBold">Direccion:</span> 3 de Febrero 1977 (3300) Posadas, Misiones
			</p>
			<p class="textLight">	
				<span class="textBold">Telefono:</span> 3786-547858
			</p>
		</div>		
	</footer>
	<!-- fin de footer -->
</body>
</html>