<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Consultora Gestion&Tendencias</title>
	<link rel="stylesheet" href="../css/inicio.css">
	<link rel="shortcut icon" href="../img/favicongyt.png">
</head>
<body>
<div class="contenedorGridf">
	<!-- inicio header -->
	<header class="navFlex navGridf navModel">
		<!-- inicio nav -->
		
			<a href="../index.html">
				<img src="../img/logonavgytwithbck.png" alt="Logo index de consultora gestion y tendencias" class="imgLogo">
			</a>			
		
		<nav class="textBold">	
			<ul>
				<li>
					<a href="../index.html">Inicio</a>
				</li>
				<li>
					<a href="Servicios.html">Servicios</a>
				</li>
				<li><a href="Contacto1.html">Contacto</a>	
				</li>
				<li>
					<a href="Faq1.html">FAQ</a>
				</li>
				<li>
					<a href="Noticias.html">Noticias</a>
				</li>
			</ul>
		</nav>
		<!-- fin nav-->
	</header>
	<!-- fin header -->
	<!-- inicio de main -->
	<main class="questionGridf">
		<!-- inicio de seccion -->
		<section class="mainModel ">
			<!-- inicio de titulo principal -->
			<h1 class="textBold">
				Preguntas Frecuentes
			</h1>
			<!-- fin de titulo principal -->
			<!-- inicio de contenido de preguntas frecuentes -->
			<h3>
				<ul class="textRegular boxModel1">
					<li class="textBold">
						¿Por qué es necesaria la consultoría en marketing para mi marca?
					</li>
						<p class="textLight">
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus optio hic, vel recusandae, quis quidem dolores! Tenetur, ipsa quam, perspiciatis, quas dignissimos quidem qui ab eos consectetur distinctio cum ea.
						</p>
					<li class="textBold ">En qué servicios se trabaja al contar con consultoría en marketing y estrategia.</li>
						<p class="textLight">
							Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex commodi laboriosam nobis! Suscipit atque voluptas neque saepe veniam similique alias necessitatibus voluptatum odio, recusandae vel autem maiores. Corrupti, enim, quo!
						</p>
					<li class="textBold ">¿Qué hace Gestion y Tendencias?</li>
						<p class="textLight">
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique cupiditate aliquid vel rem, voluptas odio quae, est sapiente consectetur ex sed necessitatibus id quia libero assumenda explicabo non odit incidunt.
						</p>
					<li class=" textBold">¿Cuál es nuestro propósito?</li>
						<p class="textLight">
							Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt magni recusandae error corporis debitis, id, omnis impedit excepturi perferendis nobis numquam ab aliquam ipsum laboriosam asperiores ipsam odit repudiandae unde!
						</p>				
						<li class="textBold">¿Por qué es recomendable contratar servicios de consultoría en marketing de manera externa?</li>
						<p class="textLight">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque reprehenderit recusandae ducimus quia quis debitis, alias sint laborum odit quod ullam repellat culpa est quaerat commodi distinctio deserunt, similique, impedit.
						</p>
					<li class="textBold">¿Cómo se paga o cobra el servicio de consultoría?</li>
						<p class="textLight">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus eum quia soluta iste aliquam ex natus, similique fugit doloribus labore, tempora reiciendis voluptas repellat laboriosam. Cumque ut unde similique, culpa?
						</p>
					<li class="textBold">¿Cuánto cuesta el servicio de consultoría con Gestion y Tendencias?</li>
						<p class="textLight">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, inventore ab voluptate quos odio dicta doloremque voluptas nobis quam atque officia obcaecati corrupti natus possimus ullam nam quo! Accusamus, error.
						</p>
					<li class="textBold">¿Trabajan con fundaciones o ONG’s?</li>
						<p class="textLight">
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur blanditiis exercitationem eligendi dolores delectus quo inventore, earum vitae, deleniti accusamus provident quaerat perferendis nisi sunt facilis nemo. Distinctio, qui, eligendi!
						</p>

					<li class="textBold">¿A quienes van dirigidos nuestros servicios?</li>
						<p class="textLight">
							Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Amet ad repellat maiores ab nobis nulla facere doloribus, soluta voluptates animi enim ipsa saepe eligendi quam ducimus, recusandae similique! Fuga, iusto.
						</p>
					<li class="textBold">¿Qué beneficios se obtiene al contratarnos?</li>
						<p class="textLight">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo soluta omnis, distinctio minus incidunt laborum ad optio. Unde aliquam, quas sapiente architecto dolores enim, eius repellendus incidunt autem quo optio?
						</p>
					<li class="textBold">¿Solo trabajan en áreas de marketing?</li>
						<p class="textLight">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut officia repellendus ipsa mollitia inventore facere quidem non, accusantium sapiente, eius nisi necessitatibus aliquid accusamus doloribus sed ducimus numquam. Animi, aperiam.
						</p>
					<li class="textBold">¿Trabajan en varios países?</li>
						<p class="textLight">
							Lorem ipsum dolor sit amet, consectetur adipisicing, elit. Deleniti earum quo reiciendis saepe vero mollitia, quos, vitae alias animi molestias quis eligendi quas sapiente, possimus minima eum nisi hic laudantium!
						</p>
					<li class="textBold">¿Cuándo debería contratar servicios de consultoría?</li>
						<p class="textLight">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas minus ipsam accusamus dolorum quaerat magnam recusandae veritatis nemo culpa. Eos odio vel omnis consequuntur excepturi ducimus autem amet necessitatibus iure.
						</p>
				</ul>
			</h3>	
			<!-- fin de contenido de preguntas frecuentes -->
		</section>
		<!-- fin de seccion -->
	</main>
		<div class="imgGridf mainModel">
			<img src="../img/imgfaq.png" alt="preguntas frecuentes sobre consulta gestion y tendencias consultora que ofrece servicios de marketing, estudio de mercado y asistencia financiera" class="imgCenter">
		</div>
	 	
	<!-- fin de main -->
	<!-- inicio de footer -->
	<footer class="pieFlex footerModel footerGridf">
		<div>
			<h4 class="textBold">
				<p>Copyrights © - Todos los derechos reservados</p><p>Gestion y Tendencias 2022</p>
			</h4>
		</div>		
		
		<div>
			<p class="textRegular">
				<a href="https://www.instagram.com/nikesportswear/" target="_BLANK">
					<img src="../img/instagram.ico" alt="red social de instagram de consultora gestion y tendencias"></a>
				<a href="https://www.facebook.com/ATPTour/" target="_BLANK">
					<img src="../img/fb.ico" alt="red social de facebook de consultora gestion y tendencias"></a>
			</p>


				<a href="../index.html">Inicio</a>
		</div>	
		<div>
			<p class="textLight">
				<span class="textBold">Mas información</span>
			</p>
			<p class="textLight">
				<span class="textBold">Email:</span> Lorem@inpum.dolor
			</p>
			<p class="textLight">
				<span class="textBold">Horario:</span> Lunes a Viernes 8am - 12am / 16pm - 20pm
			</p>
			<p class="textLight">	
				<span class="textBold">Direccion:</span> 3 de Febrero 1977 (3300) Posadas, Misiones
			</p>
			<p class="textLight">	
				<span class="textBold">Telefono:</span> 3786-547858
			</p>
		</div>		
	</footer>
	<!-- fin de footer -->
	</div>
</body>
</html>