<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Consultora Gestion&Tendencias</title>
	<link rel="stylesheet" href="../css/inicio.css">
	<link rel="shortcut icon" href="../img/favicongyt.png">
</head>
<body>
	<div class="contenedorGridn">
	<!-- inicio header -->
	<header class="navFlex navGridn navModel">
		<!-- inicio nav -->
		
			<a href="../index.html">
				<img src="../img/logonavgytwithbck.png" alt="Logo index de consultora gestion y tendencias" class="imgLogo">
			</a>			
		
		<nav class="textBold">	
			<ul>
				<li>
					<a href="../index.html">Inicio</a>
				</li>
				<li>
					<a href="Servicios.html">Servicios</a>
				</li>
				<li><a href="Contacto1.html">Contacto</a>	
				</li>
				<li>
					<a href="Faq1.html">FAQ</a>
				</li>
				<li>
					<a href="Noticias.html">Noticias</a>
				</li>
			</ul>
		</nav>
		<!-- fin nav-->
	</header>
	<!-- fin header -->
	<!-- inicio de main -->
	<main class="mainModel">
		<!-- inicio de seccion -->
		<section class=" notGridn">
			<!-- inicio de titulo principal -->
			<h1 class="textBold textLeft">
				Noticias
			</h1>
			<!-- fin de titulo principal -->
			<!-- inicio de titulo secundario -->
			<h2 class="textBold textLeft">
				Las últimas novedades tanto a nivel provincial, nacional e internacional.
			</h2>
			<!-- fin de titulo secundario -->
		</section>
		<!-- fin de seccion -->
		<!-- inicio seccion de articulos noticias -->
		<section class=" textCenter">
			<article class=" art">
				<h3 class="textBold textLeft">
					Programa para emprendedores y pymes de todo el país - 22 de Abril 2022
				</h3>
				<div class="par">
				<p class="textCenter">
					El programa Naves Federal 2022, tiene el objetivo de potenciar emprendimientos de todas las provincias del país a través de mentorías, acompañamiento y acceso a una red de contactos.</p>
				</div>
				<div>
					<img src="../img/imgpyme.png" alt="Programa emprendedores y pymes para todo el pais consultora gestion y tendencias consultora de marketing, estudio de mercado y asistencia financiera" class=" imgModel">
				</div>	
				<div class="par1">
					<p>Por octavo año consecutivo, Banco Macro lanzó el programa Naves Federal junto al IAE Business School, que tendrá una duración de 6 meses y se llevará a cabo de forma online. Tiene como objetivo potenciar emprendimientos de todas las provincias del país a través de mentorías, acompañamiento y acceso a una red de contactos. Este programa brindará herramientas a los emprendedores y PYME para que lancen al mercado sus ideas de negocios, sus nuevos productos, sus nuevos servicios, con las mayores chances posibles de éxito. Emprender no es fácil, pero si tienen herramientas, capacitación y networking, realmente tienen muchas más chances de que les vaya bien”.</p>
					<p> La primera etapa ofrecerá cinco seminarios obligatorios y tres opcionales a cargo de profesionales de la escuela de negocios de la Universidad Austral, donde los emprendedores revisarán temas como modelos de negocio, propuestas de valor, proyecciones económico-financieras, marketing y gestión comercial.</p>
					<p>Además, el programa se desarrollará en las mismas nueve sedes que el año pasado: Provincia de Buenos Aires, Córdoba, Santa Fe y Misiones, que comenzarán el 17 de mayo, y Mendoza, Neuquén, Tucumán, Salta y Jujuy, que lo harán el 16.</p>
					<p>Los 60 proyectos ganadores de la competencia federal tendrán como premio completar su formación en el Naves Nacional. Allí, recibirán cuatro seminarios más, acceso a un mentor del Banco Macro y de la escuela de negocios, y la ayuda de la red de apoyo IAE conformada por inversores, académicos, empresarios y medios de comunicación.</p>
					<p>Además, los dos primeros puestos de cada categoría recibirán una beca para un programa focalizado del IAE Business School, horas de asesoría legal y consultoría gratuitas, mientras que los primeros lugares recibirán 3 millones de pesos (a repartir por el comité organizador) para iniciar o mejorar su proyecto.
				</div>			
				</p>
			</article>
			<article class="">
				<div class="art2">
					<h3 class="textBold textLeft par2">
						Industriales Misioneros se reunierón con Trevisan para impulsar al sector - 26 de Mayo 2022
					</h3>
				</div>
				<div>
				<p class="par3">
					El Ministro de Industria, Nicolas Trevisan y el Presidente de la Cámara de Comercio e Industria de Posadas, Sergio Guelman se reunieron con industriales del Sur de la provincia para analizar alternativas de trabajo conjunto.</p>
				</div>
				<div class="img3">
					<img src="../img/imgindustrial1.png" alt="Reunion industriales misioneros con trevisan para impulsar sector industrial 2022" class="imgModel">
				</div>	
				<div class="par4">
					<p>POSADAS.</p><p>El Ministro de Industria, Nicolas Trevisan, se reunió junto al Presidente de la Cámara de Comercio e Industria de Posadas, Sergio Guelman , con representantes de distintos rubros industriales, como ser: construcción, muebles, gastronomía, pintura, metalúrgica, entre otros; con el objetivo de dialogar sobre alternativas para articular actividades entre el sector público y privado.</p>
				</div>
				<div class="img4">	
					<img src="../img/imgindustrial.png" alt="Reunion ministro de industria, trevisan junto al Presidente de la Camara de comercio e Industria de Posadas, Misiones Sergio Guelman" class="imgModel">
				</div>		
				<div class="par6">
					<p>Los industriales del Sur de la provincia, expresaron sus inquietudes respecto al desarrollo económico del sector. Se abordaron temas como: abastecimiento energético; profundización de las capacitaciones en las Escuelas Técnicas; la necesidad de agilizar y simplificar los impuestos y de incorporar líneas de financiamiento que permitan la radicación de empresas en Parques industriales.</p><p>Asimismo, se planteó la generación de una Bolsa de trabajo provincial que ensamble las demandas de la industria con la oferta de recursos humanos. Se prevé continuar trabajando en la formación de profesionales, junto al Ministerio de Educación y a las Cámaras Empresarias.</p> 
				</div>	
			</article>
		</section>
		<!-- fin de seccion de articulos de noticias -->
	</main>
	<!-- fin de main -->
	<!-- inicio de footer -->
	<footer class="pieFlex footerModel footerGridn">
		<div>
			<h4 class="textBold">
				<p>Copyrights © - Todos los derechos reservados</p><p>Gestion y Tendencias 2022</p>
			</h4>
		</div>		
		
		<div>
			<p class="textRegular">
				<a href="https://www.instagram.com/nikesportswear/" target="_BLANK">
					<img src="../img/instagram.ico" alt="red social de instagram de consultora gestion y tendencias"></a>
				<a href="https://www.facebook.com/ATPTour/" target="_BLANK">
					<img src="../img/fb.ico" alt="red social de facebook de consultora gestion y tendencias"></a>
			</p>


				<a href="../index.html">Inicio</a>
		</div>	
		<div>
			<p class="textLight">
				<span class="textBold">Mas información</span>
			</p>
			<p class="textLight">
				<span class="textBold">Email:</span> Lorem@inpum.dolor
			</p>
			<p class="textLight">
				<span class="textBold">Horario:</span> Lunes a Viernes 8am - 12am / 16pm - 20pm
			</p>
			<p class="textLight">	
				<span class="textBold">Direccion:</span> 3 de Febrero 1977 (3300) Posadas, Misiones
			</p>
			<p class="textLight">	
				<span class="textBold">Telefono:</span> 3786-547858
			</p>
		</div>		
	</footer>
	<!-- fin de footer -->
	</div>
</body>
</html>