<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Consultora Gestion&Tendencias</title>
	<link rel="stylesheet" href="../css/inicio.css">
	<link rel="shortcut icon" href="../img/favicongyt.png">
</head>
<body>
	<div class="contenedorGrids">
	<!-- inicio header -->
	<header class="navFlex navGrids navModel   linear-gradient">
		<!-- inicio nav -->
		
			<a href="../index.html">
				<img src="../img/logonavgytwithbck.png" alt="Logo index de consultora gestion y tendencias" class="imgLogo">
			</a>			
		
		<nav class="textBold">	
			<ul>
				<li>
					<a href="../index.html">Inicio</a>
				</li>
				<li>
					<a href="Servicios.html">Servicios</a>
				</li>
				<li><a href="Contacto1.html">Contacto</a>	
				</li>
				<li>
					<a href="Faq1.html">FAQ</a>
				</li>
				<li>
					<a href="Noticias.html">Noticias</a>
				</li>
			</ul>
		</nav>
		<!-- fin nav-->
	</header>
	<!-- fin header -->
	<!-- inicio de main -->
	<main class="mainGrids mainModel">
		<!-- inicio de seccion -->

		<section class="">

			<div class="txt">
			<!-- inicio de titulo principal -->
				<h1 class="textBold textLeft">
					Servicios
				</h1>
			<!-- fin titulo principal -->
			<!-- inicio de titulo secundario -->
				<h2 class="textBold textLeft">
					¿Qué servicios brindamos?
				</h2>
			<!-- fin de titulo secundario -->
			</div>

			<!-- inicio de contenido de parrafo  -->

			<div class="mkt">
				<h3 class="textBold textLeft">
					Marketing
					<p class="textRegular textLeft">
						Orientamos a las empresas y organizaciones para entender las necesidades y los deseos de sus clientes actuales y potenciales. Para ello ofrecemos servicios a medida, con acciones efectivas y adaptables a cada presupuesto.
					</p>
				</h3>
			</div>
				<div class="imgkmt">
					<img src="../img/marketing.png" alt="Consultora gestion y tendencias servicio de marketing" class="imgCenter">
				</div>
					
			<div class="merk">
				<h3 class="textBold textRight">
					Estudio de Mercado
					<p class="textRegular textLeft">
						Cubrimos un amplio espectro en la investigacion de mercado, desde la identificacion de la necesidad planteada, pasando por la preparación de los estudios para abordarla, el relevamiento de la información, su posterior análisis e interpretación, hasta el acompañamiento en la implementación de los resultados.
					</p>
				<div class="imgmerk">
					<img src="../img/mercado.png" alt="Consultora gestion y tendencias servicio de Estudio de mercado" class="imgCenter">
				</div>
			</h3>
		</div>	

		<div class="asis">
			<h3 class="textBold textLeft">
				Asistencia Financiera
				<p class="textRegular textLeft">
					Nuestra vasta experiencia nos permite brindarle asistencia y asesoramiento en:
				<ul class="textList textLeft">
					<li>Orientación financiera y estratégica. </li>
					<li>Análisis y factiblidad de proyectos de inversión.</li>
					<li>Elaboración de planes o proyectos de inversión.</li>
					<li>Búsqueda de financiamiento y diseño para su adquisición.</li>
				</ul>
				</p>
			</h3>
		</div>
				<div class="imgasis">
					<img src="../img/financiera.png" alt="Consultora gestion y tendencias servicio de Asistencia financiera para empresas, pymes star up" class="imgCenter">
				</div>

		<div class="howw">
			<h3 class="textBold textLeft mainModel">
				¿Cómo trabajamos?
			</h3>
				<p class="textRegular">
					Nuestra herramienta estratégica de consultoria se basa en un Plan de negocios, esto es, el trabajo conjunto con el cliente para plasmar en un documento integral desde las proyecciones económico-financieras del proyecto en cuestión, hasta la descripción de aquellas estrategias que permitirán la ejecución de dichas proyecciones.
				</p>
				<p>
					Se trabaja en el armado de un modelo económico y financiero, se lo asiste en la evaluación de su razonabilid y de las premisas que subyacen en las estrategias de negocio para detectar aquellas oportunidades que permitincrementar el valor del proyecto, mejorar su gestión y resolver las necesidades financieras.
				</p>
		</div>
			<!-- fin de contenido de parrafo -->
			<div class="textBold textSize1 textCenter ">
				<a href="Contacto1.html">Mas información</a>
			</div>

		</section>
		<!-- fin de secciones -->

	</main>
	<!-- fin de main -->
	<!-- inicio de footer -->
	<footer class="pieFlex footerModel footerGrids">
		<div>
			<h4 class="textBold">
				<p>Copyrights © - Todos los derechos reservados</p><p>Gestion y Tendencias 2022</p>
			</h4>
		</div>		
		
		<div>
			<p class="textRegular">
				<a href="https://www.instagram.com/nikesportswear/" target="_BLANK">
					<img src="../img/instagram.ico" alt="red social de instagram de consultora gestion y tendencias"></a>
				<a href="https://www.facebook.com/ATPTour/" target="_BLANK">
					<img src="../img/fb.ico" alt="red social de facebook de consultora gestion y tendencias"></a>
			</p>


				<a href="../index.html">Inicio</a>
		</div>	
		<div>
			<p class="textLight">
				<span class="textBold">Mas información</span>
			</p>
			<p class="textLight">
				<span class="textBold">Email:</span> Lorem@inpum.dolor
			</p>
			<p class="textLight">
				<span class="textBold">Horario:</span> Lunes a Viernes 8am - 12am / 16pm - 20pm
			</p>
			<p class="textLight">	
				<span class="textBold">Direccion:</span> 3 de Febrero 1977 (3300) Posadas, Misiones
			</p>
			<p class="textLight">	
				<span class="textBold">Telefono:</span> 3786-547858
			</p>
		</div>		
	</footer>
	<!-- fin de footer -->
	</div>
</body>
</html>